<?xml version='1.1' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.folder.Folder plugin="cloudbees-folder@6.15">
  <actions/>
  <description>The Boomi CICD jobs for the above account</description>
  <displayName>Account Boomi</displayName>
  <properties>
    <com.cloudbees.hudson.plugins.folder.properties.FolderCredentialsProvider_-FolderCredentialsProperty>
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain plugin="credentials@2.3.18">
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList>
            <org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@1.7">
              <id>authToken</id>
              <description>Boomi API Authentication Token</description>
              <secret>{AQAAABAAAAAQ+YyYq5Imfdi65le+AtyfAj0/r1xzy/lS0L/8JNgOkL0=}</secret>
            </org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
            <org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@1.7">
              <id>sonarToken</id>
              <description>Token for Sonar</description>
              <secret>{AQAAABAAAAAQ+YyYq5Imfdi65le+AtyfAj0/r1xzy/lS0L/8JNgOkL0=}</secret>
            </org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
            <org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@1.7">
              <id>JENKINS_TOKEN</id>
              <description>Token used by JENKINS_USER to trigger remote jobs</description>
              <secret>{AQAAABAAAAAQ+YyYq5Imfdi65le+AtyfAj0/r1xzy/lS0L/8JNgOkL0=}</secret>
            </org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
            <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl plugin="credentials@2.3.18">
              <id>gitReleaseRepoUserPassword</id>
              <description>User ID and password to connect to GIT Release Repo</description>
              <username>username</username>
              <password>{AQAAABAAAAAQ+YyYq5Imfdi65le+AtyfAj0/r1xzy/lS0L/8JNgOkL0=}</password>
            </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
            <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl plugin="credentials@2.3.18">
              <id>gitReleaseRepoAPIToken</id>
              <description>This is used by Jenkins Jobs to update the commit status in $gitReleaseRepoAPIURL. This must use Personal Access Token Generated from GIT</description>
              <username>username</username>
              <password>{AQAAABAAAAAQ+YyYq5Imfdi65le+AtyfAj0/r1xzy/lS0L/8JNgOkL0=}</password>
            </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
            <org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@1.7">
              <id>gitComponentRepoURL</id>
              <description>GIT Component URL in the form of https://user:password@giturl.com</description>
              <secret>{AQAAABAAAAAQ+YyYq5Imfdi65le+AtyfAj0/r1xzy/lS0L/8JNgOkL0=}</secret>
            </org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
          </java.util.concurrent.CopyOnWriteArrayList>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.hudson.plugins.folder.properties.FolderCredentialsProvider_-FolderCredentialsProperty>
    <org.jenkinsci.plugins.docker.workflow.declarative.FolderConfig plugin="docker-workflow@1.26">
      <dockerLabel></dockerLabel>
      <registry plugin="docker-commons@1.17"/>
    </org.jenkinsci.plugins.docker.workflow.declarative.FolderConfig>
    <com.mig82.folders.properties.FolderProperties plugin="folder-properties@1.2.1">
      <properties>
        <com.mig82.folders.properties.StringProperty>
          <key>h1</key>
          <value>Accept: application/json</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>h2</key>
          <value>Content-Type: application/json</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>accountId</key>
          <value>[Enter Account ID]</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>baseURL</key>
          <value>https://api.boomi.com/api/rest/v1/$accountId</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>SCRIPTS_HOME</key>
          <value>/var/jenkins_home/cli/scripts</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>LOCAL_ATOM_INSTALL_DIR</key>
          <value>/var/jenkins_home/boomi</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>SONAR_HOME</key>
          <value>/var/jenkins_home/sonar-scanner-4.2.0.1873-linux</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>sonarProjectKey</key>
          <value>BoomiSonar</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>sonarHostURL</key>
          <value></value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>gitComponentRepoName</key>
          <value>[Enter Git Component Repo Name]</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>gitComponentUserName</key>
          <value>[Enter Git Component Username here ]</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>gitComponentUserEmail</key>
          <value>[Update Git Component User Email Here]</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>gitComponentOption</key>
          <value>CLONE</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>gitComponentRepoURL</key>
          <value>[Update gitComponentRepoURL here. If your repo contains passwords add it to the folder credentials]</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>SLEEP_TIMER</key>
          <value>0.03</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>VERBOSE</key>
          <value>false</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>sonarRulesFile</key>
          <value>${SCRIPTS_HOME}/conf/BoomiSonarRules.xml</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>AWS_DEFAULT_REGION</key>
          <value>us-east-2</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>gitReleaseRepoAPIURL</key>
          <value>[Update GIT Release REPO API URL here.]</value>
        </com.mig82.folders.properties.StringProperty>
        <com.mig82.folders.properties.StringProperty>
          <key>gitComponentCommitPath</key>
          <value>/tree/master/</value>
        </com.mig82.folders.properties.StringProperty>
      </properties>
    </com.mig82.folders.properties.FolderProperties>
  </properties>
  <folderViews class="com.cloudbees.hudson.plugins.folder.views.DefaultFolderViewHolder">
    <views>
      <hudson.model.AllView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>all</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
      </hudson.model.AllView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>2. Installation Jobs</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator"/>
          <string>Create Cloud Atom</string>
          <string>Create Environment</string>
          <string>Create Environment and Attach Atom</string>
          <string>Delete Atom and Env</string>
          <string>Delete Local Atom</string>
          <string>Fetch Environment Names</string>
          <string>Get Cloud Installer Token</string>
          <string>Get Installer Token</string>
          <string>Install Local Atom</string>
          <string>List All Environments</string>
          <string>Query Atom</string>
          <string>Update Shared Server</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
        </columns>
        <recurse>false</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>3. Operations Jobs</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
          <string>Change All Listener Status</string>
          <string>Change Listener Status</string>
          <string>Execute Process</string>
          <string>Query Execution Record</string>
          <string>Start Local Atom</string>
          <string>Stop Local Atom</string>
          <string>Update Environment Extensions</string>
          <string>Update Process Schedule Status</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
        </columns>
        <recurse>false</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>1. Packaged Component</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
          <string>Continuous Package Deployment Pipeline</string>
          <string>Create Package</string>
          <string>Create Packages</string>
          <string>Create Process Schedule</string>
          <string>Deploy Package</string>
          <string>Deploy Packages</string>
          <string>DynamicGitJob_Dev</string>
          <string>DynamicGitJob_Test</string>
          <string>Execute Process</string>
          <string>List Processes</string>
          <string>Query Execution Record</string>
          <string>Undeploy Package</string>
          <string>Update Environment Extensions</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
        </columns>
        <recurse>false</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>4. Publish Reports</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
          <string>List All Components</string>
          <string>List All Environments</string>
          <string>List Atoms</string>
          <string>List Deployed Packages</string>
          <string>List Package Components</string>
          <string>List Processes</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
        </columns>
        <recurse>false</recurse>
      </hudson.model.ListView>
    </views>
    <primaryView>all</primaryView>
    <tabBar class="hudson.views.DefaultViewsTabBar"/>
  </folderViews>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
      <nonRecursive>false</nonRecursive>
    </com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
  </healthMetrics>
  <icon class="com.cloudbees.hudson.plugins.folder.icons.StockFolderIcon"/>
</com.cloudbees.hudson.plugins.folder.Folder>
