<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deploys a process to a local environment&#xd;
Extracts the component file and pushes it to GIT&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>env</name>
          <description>Name of the Environment</description>
          <defaultValue>#jenkins</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>processNames</name>
          <description>Comma separated list of processes to be saved</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>notes</name>
          <description>Notes </description>
          <defaultValue>This package is ...</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>atomName</name>
          <description>Name of the atom</description>
          <defaultValue>jenkins01</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TAG_NAME</name>
          <description>Optional TAG NAME for the GIT. TAG NAME must not have spaces.</description>
          <defaultValue>Release</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.0.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>${GIT_REPO}</url>
        <credentialsId>git_id</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd ${SCRIPTS_HOME}


source bin/queryEnvironment.sh env=&quot;${env}&quot; classification=&quot;*&quot;

export toEnvId=$envId
saveNotes=&quot;${notes}&quot;

IFS=&apos;,&apos; ;for processName in `echo &quot;${processNames}&quot;`; 
do 
	envId=${toEnvId}
    notes=&quot;${saveNotes}&quot;
    processName=`echo &quot;${processName}&quot; | xargs`
    saveProcessName=&quot;${processName}&quot;
    echo &quot;Deploying ${processName} to environment ${toEnvId}&quot;
    
	source bin/queryProcess.sh processName=&quot;${processName}&quot;
	deployProcessId=$processId
	source bin/createProcessAttachment.sh envId=$envId processId=$processId componentType=&quot;Process&quot;
	source bin/deployProcess.sh processId=${deployProcessId} envId=${toEnvId} componentType=&quot;Process&quot; notes=&quot;${notes}&quot;
	sleep 10; # wait few seconds before file gets downloaded&quot;
	mkdir -p &quot;${WORKSPACE}/${BUILD_NUMBER}/${saveProcessName}/${deployProcessId}&quot;
	cp /var/jenkins_home/boomi/Atom_${atomName}/processes/${deployProcessId}/${deployProcessId}.xml &quot;${WORKSPACE}/${BUILD_NUMBER}/${saveProcessName}/${deployProcessId}&quot;/
	cd &quot;${WORKSPACE}/${BUILD_NUMBER}/${saveProcessName}/${deployProcessId}&quot;
	for file in *.xml; do tidy -m -i -xml $file; done
	cd &quot;${WORKSPACE}/${BUILD_NUMBER}&quot;
    cd ${SCRIPTS_HOME}
done

cd &quot;${WORKSPACE}/${BUILD_NUMBER}&quot;
git add .
git commit -m &quot;Saving ${WORKSPACE}/${BUILD_NUMBER} file to GIT.&quot;


</command>
    </hudson.tasks.Shell>
    <hudson.plugins.sonar.SonarRunnerBuilder plugin="sonar@2.10">
      <project></project>
      <properties></properties>
      <javaOpts></javaOpts>
      <additionalArguments>-Dsonar.projectKey=${SONAR_PROJECT_KEY}   -Dsonar.sources=&quot;${WORKSPACE}/${BUILD_NUMBER}&quot; </additionalArguments>
      <jdk>(Inherit From Job)</jdk>
      <task></task>
    </hudson.plugins.sonar.SonarRunnerBuilder>
  </builders>
  <publishers>
    <org.quality.gates.jenkins.plugin.QGPublisher plugin="sonar-quality-gates@1.3.1">
      <jobConfigData>
        <projectKey>boomi</projectKey>
        <sonarInstanceName>sonar</sonarInstanceName>
        <buildStatus>FAILED</buildStatus>
      </jobConfigData>
      <buildDecision>
        <qualityGatesProvider>
          <qualityGateResponseParser/>
          <sonarHttpRequester class="org.quality.gates.sonar.api61.SonarHttpRequester61">
            <logged>true</logged>
            <token>8a66bc8a5f41b4b8d32d0ac52058dd8e5dad26b2</token>
          </sonarHttpRequester>
          <sonarInstanceValidationService/>
        </qualityGatesProvider>
      </buildDecision>
      <jobConfigurationService/>
      <jobExecutionService/>
      <globalConfigDataForSonarInstance>
        <name>sonar</name>
        <sonarUrl>http://18.191.114.169:9000/sonarqube</sonarUrl>
        <token>8a66bc8a5f41b4b8d32d0ac52058dd8e5dad26b2</token>
        <timeToWait>0</timeToWait>
        <maxWaitTime>0</maxWaitTime>
      </globalConfigDataForSonarInstance>
    </org.quality.gates.jenkins.plugin.QGPublisher>
    <hudson.plugins.git.GitPublisher plugin="git@4.0.0">
      <configVersion>2</configVersion>
      <pushMerge>true</pushMerge>
      <pushOnlyIfSuccess>true</pushOnlyIfSuccess>
      <forcePush>true</forcePush>
      <tagsToPush>
        <hudson.plugins.git.GitPublisher_-TagToPush>
          <targetRepoName>origin</targetRepoName>
          <tagName>&quot;${TAG_NAME}_${BUILD_NUMBER}&quot;</tagName>
          <tagMessage>Deploying to ${TAG_NAME}_${BUILD_NUMBER} to origin from Jenkins</tagMessage>
          <createTag>true</createTag>
          <updateTag>false</updateTag>
        </hudson.plugins.git.GitPublisher_-TagToPush>
      </tagsToPush>
      <branchesToPush/>
      <notesToPush/>
    </hudson.plugins.git.GitPublisher>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.20">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
          <credentialsId>authToken</credentialsId>
          <variable>authToken</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
        <org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
          <credentialsId>sonar_id</credentialsId>
          <variable>sonarToken</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
    <com.mig82.folders.wrappers.ParentFolderBuildWrapper plugin="folder-properties@1.0"/>
  </buildWrappers>
</project>